.git
.gitignore
.github

node_modules
vendor

storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
database/database.sqlite

tests
.phpunit.cache
.phpunit.result.cache

.env
.env.*
!.env.example

.vscode
.idea
.fleet
.nova
.zed

npm-debug.log
yarn-error.log
